[Desktop Entry]
Type=Application
Name=NX Studio
Comment=Browse and edit Nikon photos
Exec=nx-studio %F
Icon=applications-graphics
Terminal=false
StartupNotify=true
Categories=Graphics;Photography;
MimeType=image/jpeg;image/tiff;image/x-nikon-nef;
